@{
    ViewBag.Title = "Home Page";
}
@section Head {
    <meta http-equiv="refresh" content="0; url=/Supplier">
}
<div class="jumbotron">
    <p><a href="/Supplier" class="btn btn-primary btn-lg">Master Supplier</a></p>
</div>