USE [TEST_FID]
GO
/****** Object:  Table [dbo].[TB_M_SUPPLIER]    Script Date: 7/6/2020 5:53:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SUPPLIER](
	[SUPPLIER_CODE] [varchar](10) NOT NULL,
	[SUPPLIER_NAME] [varchar](50) NULL,
	[ADDRESS] [varchar](100) NULL,
	[PROVINCE] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[PIC] [varchar](30) NULL,
 CONSTRAINT [PK_TB_M_SUPPLIER_SUPPLIER_CODE] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_ORDER_H]    Script Date: 7/6/2020 5:53:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ORDER_H](
	[ORDER_NO] [varchar](20) NOT NULL,
	[ORDER_DATE] [date] NULL,
	[SUPPLIER_CODE] [varchar](10) NULL,
	[AMOUNT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TB_R_ORDER_H_ORDER_NO] PRIMARY KEY CLUSTERED 
(
	[ORDER_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'AB', N'PT Aneka Besi', N'Jln Sudirman', N'DKI Jakarta', N'Jakarta Pusat', N'Mr. Amir')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'DG', N'PT Diesel Guna', N'Jln Setiabudi', N'Jawa Barat', N'Bandung', N'Mrs Indah')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'KL', N'PT Kriya Lestari', N'Jln Melati', N'Jawa Tengah', N'Solo', N'Mrs. Safitri')
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-001', CAST(N'2019-01-01' AS Date), N'AB', CAST(150000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-002', CAST(N'2019-01-04' AS Date), N'DG', CAST(250000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-003', CAST(N'2019-01-05' AS Date), N'KL', CAST(35000000 AS Numeric(18, 0)))
